header {
    height: 5vh;
    margin-top: 20px;
    margin-left: calc(8.33333% + 0px);
    margin-right: calc(8.33333% + 0px);
    margin-bottom: 20px;
}
header.header-top{
    height: 30vh;
    margin-top: 30%;
    margin-left: calc(8.33333% + 0px);
    margin-right: calc(8.33333% + 0px);
    margin-bottom: 55vh;
}

header .header-head {
    width: 40%;
}
header .header-menu {
    width: 60%;
}

header .header-head,
header .header-menu {
    float: left;
    height: 50%;
}

header .header-head a {
    color: black;
    text-decoration: none;
}

header .header-menu ul {
    margin: 0;
    list-style: none;
}

header .header-menu li {
    display: inline-block;
}

header .header-menu li a {
    padding: 10px;
    color: black;
    text-decoration: none;
}

header .header-lead {
    font-size: 14px;
    margin-top: 5px;
}



@media (max-width: 480px){
    header .header-head,
    header .header-menu {
        width: 100%;
    }    
    header .header-menu ul,
    header .header-menu li a {
        margin-top: 0;
        padding-left: 0;
    }
}
