html {
    background-color: antiquewhite;
    font-weight: lighter;
}

h1,h2,h3,h4{
    font-weight: lighter;
}

a {
    color: black;
}
/* Fixed background image */
body::before {
    content: '';
    background: url('../images/header.jpg') no-repeat center center;
    background-size: cover;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

body {
    margin: 0px;
    font-family: 'nimbus-sans', sans-serif;
    overflow-y: scroll;
}

.container {
    padding: 0 20% 0 20%;
}

@media (max-width: 480px){
    .container {
        padding: 0;
    }
}

/* Youtube responsive */
@media (max-width: 480px){
.frame-wrapper__video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-bottom: 50px;
}
  
.frame-wrapper__video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
}

/* Card */
.card{
    width: 288px;
    height: 93%;
    margin: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
  }
  
  .card__imgframe{
    width: 100%;
    box-sizing: border-box;
  }

  .card__imgframe > img {
    width: 100%;
    vertical-align: top;
  }
  
  .card__textbox{
    width: 100%;
    height: auto;
    padding: 20px 18px;
    background: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .card__textbox > * + *{
    margin-top: 10px;
  }
  
  .card__titletext{
    font-size: 20px;
    font-weight: bold;
    line-height: 125%;
  }
  
  .card__description{
    font-size: 12px;
    line-height: 150%;
  }

/* Cover */
.cover {
    background: antiquewhite;
    width: 90%;
    height: auto;
    min-height: 70vh;
    margin: 0 auto;   
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
}

.cover-content {
    margin: 15px 50px 15px 50px;
    padding: 10px 0 20px 0;
}

@media (max-width: 480px){
    .cover-content {
        margin: 15px 15px 15px 15px;
    }    
}

.no-decoration {
    text-decoration: none;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexbox > a {
    display: inline-block;
}

/* Cover */
.top-cover {
    background: antiquewhite;
    width: 90%;
    height: auto;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
}

.top-cover-content {
    margin: 15px 50px 15px 50px;
    padding: 10px 0 20px 0;
}

@media (max-width: 480px){
    .top-cover-content {
        margin: 15px 15px 15px 15px;
    }    
}
