html {
    background-color: antiquewhite;
}

body {
    margin: 0px;
    font-family: 'nimbus-sans', sans-serif;
}

@media (max-width: 480px){
.frame-wrapper__video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-bottom: 50px;
}
  
.frame-wrapper__video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
}